:root {
	--res-x-default: 1280px;
	--res-y-default: 720px;

	--options-bar-height: 30px;
	--options-button-width: 100px;

	--line-colour-dark: #333;
	--line-colour-medium: #777;
	--line-colour-light: #CCC;
}

html {overflow-y: scroll;}

body {
	padding: 20px 100px;
}

h1 {
	float: left;
	font: 25px arial;
	color: var(--line-colour-dark);
	margin: 0px;
	height: 30px;
}


/* Contents contains the title; and 3 divs (viewer, optionsHider, and options) which all horizontally aligned */
#contents {
	padding-bottom: 100px;
}

#header {
	vertical-align: top;
	display: block;
	height: 30px;

	border-bottom: 1px solid var(--line-colour-medium);
}
#phaseContrastSwitch {
	float:right;

	font: 20px arial;
	color: var(--line-colour-dark);
}

#viewer {
	vertical-align: top;
	float:left;

	width: var(--res-x-default);
	height: calc(var(--res-y-default) + var(--options-bar-height));
}
#canvas {
	vertical-align: top;
	float: left;

	width: 100%;
	height: calc(100% - var(--options-bar-height));

	border-bottom: 1px solid var(--line-colour-light);

	background-color: black;
}
#viewerOptions {
	vertical-align: top;
	float:left;

	width: 100%;
	height: var(--options-bar-height);
}
.viewerOptionButton {
	font: 15px arial;
	border: none; 
	float:left;

	height: calc(var(--options-bar-height) + 1px);
	width: var(--options-button-width);

	background-color: #FFF; outline:0;
}
.viewerOptionButton:hover {	background-color: #BBB; cursor: pointer; }
.optionHiderButton:active { background-color: #999; cursor: pointer; }
.viewerOptionButton:disabled { background-color: #DDD; cursor: not-allowed; }
.viewerOptionButton:disabled:hover { background-color: #DDD; cursor: not-allowed; }


#optionsHider {
	vertical-align: top;
	float:left;

	width: 29px;
	height: 750px;

	border-right: 1px solid var(--line-colour-dark);
	border-left: 0px solid var(--line-colour-dark);
}
/* optionsHider contains a long vertical button to show/hide the options menu */
.optionHiderButton { background-color: #FFF; outline:0; }
.optionHiderButton:hover { background-color: #BBB; cursor: pointer; }
.optionHiderButton:active { background-color: #999; cursor: pointer; }

#options {
	vertical-align: top;
	float: left;

	width: calc(100% - var(--res-x-default) - 30px);
	height: calc(var(--res-y-default) + 30px);
}
/* options contains some tabs  */
#tabMenu {
	white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;

    height: 36px;
    border-bottom: 1px solid var(--line-colour-light);
}
.tabOptionButton {
	vertical-align: top;
	float:left;

	width: 33.3%;
	height: 100%;

	font-size: 15px;

	border: 0px;
	outline: 0;

	background-color: #FFF;
}
.tabOptionButton:hover { background-color: #BBB; }
.tabOptionButton:active { background-color: #999; }
.buttonSelected { border-bottom: 2px solid var(--line-colour-dark); }
#tabPages {
	white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;

    height: calc(100% - 30px);
    width: 100%;
}
.tab {
	white-space: nowrap;

	height: 100%;
    width: 100%;
}
#consoleTab {
    overflow-y: scroll;
	padding: 5px 5px;
	width: calc(100% - 10px);
	height: calc(100% - 17px);
}
#Messages {
	font-size: 15px;
	font-family: monospace;
}
.sliderContainer {
	width: 50%;
}
#optionsTab {
	padding: 5px 5px;
	width: 100%;
}

#optionsTabPhaseContrast { }
#optionsTabBrightfield { }
.optionButton {
	display:block;
	margin-bottom: 5px;

	font: 15px arial;
	border: none; 

	height: 30px;
	width: 200px;

	background-color: #DDD; outline:0;
}
.optionButton:hover {	background-color: #BBB; cursor: pointer; }
.optionButton:active { background-color: #999; cursor: pointer; }
.optionButton:disabled { background-color: #DDD; cursor: not-allowed; }
.optionButton:disabled:hover { background-color: #DDD; cursor: not-allowed; }

#movementTab {
	padding: 5px 5px;
	font: 20px arial;
	font-family: monospace;
}
.movement {
	display:block;

	padding-bottom: 5px;
}
.movementButton {
	display:inline-block;

	font: 20px arial;
	border: none; 

	height: 40px;
	width: 40px;

	background-color: #DDD; outline:0;
}
.movementButton:hover {	background-color: #BBB; cursor: pointer; }
.movementButton:active { background-color: #999; cursor: pointer; }
.movementButton:disabled { background-color: #DDD; cursor: not-allowed; }
.movementButton:disabled:hover { background-color: #DDD; cursor: not-allowed; }

#footer {
	vertical-align: top;
	float:left;

	width: 100%;
	height: 100px;

	border-top: 1px solid var(--line-colour-light);
}



hr {
	border: 0.5px solid #EEE;
}