:root {
  --reduction: 4px;
  --reduction-halved: calc(var(--reduction) / 2);

  --height: 21px;
  --width: 60px;
  --height-reduced: calc(var(--height) - var(--reduction));
  --width-reduced: calc(var(--width) - var(--reduction));

  --width-minus-height: calc(var(--width-reduced) - var(--height-reduced));
}

.checkBoxSwitch {
  display: inline-block;
  
  margin-top:6px;
  margin-bottom:0px;
  height: 25px;
}

.switchText {
  position: relative;
  display: inline;
  font: 15px arial;
  padding: 0px;
}

.switch {
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--height-reduced);
  width: var(--height-reduced);
  left: var(--reduction-halved);
  bottom: var(--reduction-halved);
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(var(--width-minus-height));
  -ms-transform: translateX(var(--width-minus-height));
  transform: translateX(var(--width-minus-height));
}

/* Rounded sliders */
.slider.round {
  border-radius: var(--height-reduced);
}

.slider.round:before {
  border-radius: 70%;
}

/*    -----  RANGE SLIDER  -----    */
.rangeSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.rangeSlider:hover {
  opacity: 1;
}
.rangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
.rangeSlider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}