
body {
	background-color: #ffffff;
	padding-left:100px;
}

h1 {
	font-size: 20px;
}


#Title {
	padding-left: 20px;
	padding-top: 40px;
	padding-bottom:0px;
	
}

#Canvas {
	padding-left:0px;
	padding-top:0px;
}